*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 color:#6c6b6b;
}

main{
  width:960px;
  margin:50px auto;
}

.list{
  margin-bottom:50px;
}

.list-number{
  padding:20px;
  list-style:none;
}

.list-number:nth-child(odd){
 background-color:#dcdcdc; 
}

.box{
  display:flex;
  flex-wrap:wrap;
}

.color-box{
  background-color:#ffd700;
  height:200px;
  width:30%;
  margin-right:5%;
  margin-bottom:40px;
}

.color-box:nth-child(1),
.color-box:nth-child(5),
.color-box:nth-child(9){
  background-color:#ff8c00;
}

.color-box:nth-child(3n){
  margin-right:0;
}

.color-box:nth-child(7),
.color-box:nth-child(8),
.color-box:nth-child(9){
  margin-bottom:0;
}